.title {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.title_name {
    font-size: 1.75rem;
    font-family: "Roboto", sans-serif;
    line-height: 1.1428571429;
    font-weight: 400;
    margin-bottom: 8px;
}

.title_date {
    font-size: .875rem;
    font-family: "Roboto", sans-serif;
    line-height: 1.4285714286;
    font-weight: 400;
    color: rgb(95, 99, 104);
}