beautifulsoup4==4.12.3
bs4==0.0.2
selenium==4.20.0
webdriver-manager==4.0.1
Werkzeug==2.2.3
nltk==3.8.1
setuptools==69.5.1
ipython==8.18.1
setuptools==69.5.1
apache-flink
pymongo[srv]
google-generativeai
rich
tiktoken