.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: medium;
  background-color: #005339;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn_stroke {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: medium;
  background-color: transparent;
  color: #005339;
  border: 1px solid #005339;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #00713c;
}
