.heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.heading_title {
    font-size: 1.25rem;
    font-family: "Roboto", sans-serif;
    line-height: 1.3;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #1867DC;
}

.heading_icon {
    color: #1867DC;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
}

.purple {
    color: #592FD0;
}

.emerald {
    color: #00758C;
}