.full_height {
    height: 100%;
}

.main_container {
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 22px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.news {
    display: flex;
    flex-direction: column;
}